.tableHome {
    display: block;
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  th, td {
    border: 1px solid #9d7474;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #4E7FFF
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }

/* .seccion-noticias{
    display: flex;
    text-align: center;
    justify-content: center;
}
 */
.seccion-noticias {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;

    text-align: center;
    justify-content: center;
  }
  
  .articulo {
    flex: 1;
    background-color: #eef2fd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1{
    color: rgb(32, 44, 59);
    margin-left: 5px;
    
  }
  
  h2 {
    color: #333;
  }
  
  p {
    color: #555;
  }

  .especialidades{
    background-color: #b8c9f8;
  }
  
  th{
    color: white;
    font-weight: bold;
  }

  