.tabla-container {
    margin: 20px;
  }
  
  .tabla {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tabla th {
    background-color: #f2f2f2;
  }
  