.notfoundlink {
    color: lawngreen;
    font-size: x-large;
    font-weight: bold;
}

.notfound {
    align-items: center;
    background-color: #4E7FFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}