.bodyDashboard{
    position:absolute;
    height: 100vh;
    width: 100%;
}

.headerDashboard{
    display: flex;
    flex-direction: column;
}

.cuerpo{
    display: flex;
    flex-direction: row;
    height: 500px; 
    width: 100%; 
}

.menuDashboard{
    height: calc(100vh - 68px);
    width: 300px;
    overflow-y: auto;
    
    

}

.contenidoDashboard{
    width: calc(100vw - 300px);
    height: calc(100vh - 107px);
    overflow-y: auto;
    padding: 20px;
    

}