.CardListBooking{
    width: 450px;
    margin: 30px;
    
}

.CardListBookingTitel{
    background-color: #4E7FFF;
    color: white;
    text-align: center;
}

.CardListBookingTitelOutDate{
    background-color: #919191;
    color: rgb(0, 0, 0);
    text-align: center;
}

.CardListBookingBody{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction:row;
    
}

.CardListBookingImg{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-right: 0;
    justify-content: center;
    
    
}