.cuerpoListBooking{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuerpoListBookingNot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


